<h3 class="sub-heading">The best technology tutorials, decided by you.</h3>
<p class="home-paragraph">
  tuutorials orders technology tutorials by their user rating to make finding
  the best tutorials easy.
</p>

<h2 id="technologies-heading">Technologies</h2>

<div id="nav-container">
  <ul id="nav-list">
    
    <% ("A".."Z").each do |letter| %>
      <li class="nav-item" onclick=$('#<%= letter %>').goTo();>
        <%= letter %>
      </li>
    <% end %>
    <li class="nav-item" onclick=$('#numbers').goTo();>0-9</li>
    <li class="nav-item" onclick=$('#symbols').goTo();>!?#</li>
    
  </ul>
</div>

<ul id="technology-list">

  <!-- Technologies that start with a letter -->
  <% ("A".."Z").each do |letter| %>
    <h3 class="letter" id="<%= letter %>"><%= letter %></h3>
    <% if !@groupedAlphabetically[letter].nil? %>
      <% @groupedAlphabetically[letter].each do |technology| %>
        <li class="technology-item"><%= link_to technology.name, technology %></li>
      <% end %>
    <% end %>
  <% end %>

  <!-- Technologies that start with a number -->
  <h3 class="letter" id="numbers">0-9</h3>
  <% ("0".."9").each do |number| %>
    <% if !@groupedAlphabetically[number].nil? %>
      <% @groupedAlphabetically[number].each do |technology| %>
        <li class="technology-item"><%= link_to technology.name, technology %></li>
      <% end %>
    <% end %>
  <% end %>

  <!-- Technologies that start with a symbol -->
  <h3 class="letter" id="symbols">!?#</h3>
  <% ["!", "?", "#"].each do |symbol| %>
    <% if !@groupedAlphabetically[symbol].nil? %>
      <% @groupedAlphabetically[symbol].each do |technology| %>
        <li class="technology-item"><%= link_to technology.name, technology %></li>
      <% end %>
    <% end %>
  <% end %>

</ul>

<p><%= missing_technology_link %></p> 