<h2 class="main-heading">
  <%= link_to @tutorial.name, @tutorial.link, :rel => "nofollow" %>
</h2>

<div class="clear"></div>

<p id="description"><%= @tutorial.description %></p>

<h3 class="sub-heading" id="comments-heading">Comments</h3>

<%= link_to "+ Add Comment", { :controller => :comments, :action => :new, :tutorial => @tutorial.id }, :class => "add-comment" %>

<div class="clear"></div>

<% @comments.each do |comment| %>

  <div class="comment">

  	<h4 class="comment-title"><%= link_to comment.user.username, comment.user %></h4>

  	<span class="comment-timestamp"><%= time_ago_in_words comment.created_at %> ago</span>

    <% if user_signed_in? && comment.is_reported_by?(current_user)  %>
      <span><%= link_to "Unreport", unreport_path(:reported_object => comment.id, :report_category => "Comment") %></span>
    <% else %>
      <span><%= link_to "Report", { :action => "new", :controller => "reports", :reported_object => comment.id, :report_category => "Comment" } %></span>
    <% end %>

  	<div class="clear"></div>

  	<p><%= comment.body %></p>

  </div>

  <div class="clear"></div>

<% end %>

<% if @comments.size == 0 %>
  <p>No comments submitted</p>
<% end %>
