<%= link_to "+ Add Tutorial", { :action => "new", :controller => "tutorials", :technology => @technology.id }, :class => "add" %>

<%# Technology name %>
<h2 class="main-heading">
  <%= @technology.name %>
</h2>
<div class="clear"></div>

<%# Technology tags %>
<p>
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tag %>
  <% end %>
</p>

<%# Tutorials heading %>
<div class="clear"></div>

<% if @tutorials.size == 0 %>
  <span class="empty-placeholder">No tutorials submitted</span>
<% end %>

<% @tutorials.each do |tutorial| %>
  <div class="list-box">

    <%# Bootstrap Tutorial rating bar %>
    <div class="progress progress-success progress-striped">        
      <div class="bar" style="width: <%= tutorial.percent_rating %>%;"></div>
    </div>
    
    <%# Tutorial link, submitter and up/down vote buttons %>
    <div class="list-box-text">
                
      <div class="tutorial-wrapper">

        <div class="vote-wrapper">
          <%= link_to "+", { :action => "new", :controller => "votes", :tutorial => tutorial.id, :vote => 1 }, :class => "up-vote" %> 
          <%= link_to "-", { :action => "new", :controller => "votes", :tutorial => tutorial.id, :vote => 0 }, :class => "down-vote" %>
        </div> 
        
        <div class="tutorial-info-wrapper">
          <h4 class="tutorial-name">
            <%= link_to tutorial.name, tutorial.link %>
          </h4>
        
        </div>
        
        <p class="tutorial-info">
          Submitted by 
          <%= link_to tutorial.user.username, tutorial.user %> | 
          <%= link_to "Report" %> |
          <%= "#{tutorial.total_votes} #{tutorial.total_votes == 1 ? "vote" : "votes"}" %> |
          <%= link_to "#{tutorial.comments.size} #{tutorial.comments.size == 1 ? "comment" : "comments"}", tutorial %>
        </p>
        
        <div class="clear"></div>

      </div>

    </div>
    
  </div>
<% end %>
