<%= link_to "+ Add Tutorial", { :action => "new", :controller => "tutorials", :technology => @technology.id }, :class => "add" %>

<%# Technology name %>
<h2 class="main-heading">
  <%= @technology.name %>
</h2>
<div class="clear"></div>

<%# Technology tags %>
<p>
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tag %>
  <% end %>
</p>

<%# Tutorials heading %>
<div class="clear"></div>

<% if @tutorials.size == 0 %>
  <p>No tutorials submitted</p>
<% end %>

<% @tutorials.each do |tutorial| %>
  <div class="list-box">

    <%# Bootstrap Tutorial rating bar %>
    <div class="progress progress-success progress-striped">        
      <div class="bar" style="width: <%= tutorial.percent_rating %>%;"></div>
    </div>
    
    <%# Tutorial link, submitter and up/down vote buttons %>
    <div class="list-box-text">
                
      <div class="tutorial-wrapper" id="<%= tutorial.id %>">

        <div class="vote-wrapper">
          <% if user_signed_in? && tutorial.up_voted?(current_user) %>
            <span class="voted">+</span>
          <% else %>
            <%= link_to "+", { :action => "create", :controller => "votes", :tutorial => tutorial.id, :vote => 1 }, :class => "up-vote", :method => :post %> 
          <% end %>

          <% if user_signed_in? && tutorial.down_voted?(current_user) %>
            <span class="voted">-</span>
          <% else %>
            <%= link_to "-", { :action => "create", :controller => "votes", :tutorial => tutorial.id, :vote => 0 }, :class => "down-vote", :method => :post %>
          <% end %>
        </div> 
        
        <div class="tutorial-info-wrapper">
          <h3 class="tutorial-name">
            <%= link_to tutorial.name, tutorial.link %>
          </h3>
                
          <p class="tutorial-info">
            Submitted by 
            <span class="tutorial-info-item"><%= link_to tutorial.user.username, tutorial.user %> <%= time_ago_in_words tutorial.created_at %> ago</span>
            <span class="tutorial-info-item">-</span>
            <% if user_signed_in? && tutorial.is_reported_by?(current_user)  %>
              <span class="tutorial-info-item"><%= link_to "Unreport", unreport_path(:reported_object => tutorial.id, :report_category => "Tutorial") %></span>
            <% else %>
              <span class="tutorial-info-item"><%= link_to "Report", { :action => "new", :controller => "reports", :reported_object => tutorial.id, :report_category => "Tutorial" } %></span>
            <% end %>
            <span class="tutorial-info-item">-</span>
            <span class="tutorial-info-item"><%= "#{tutorial.total_votes} #{tutorial.total_votes == 1 ? "vote" : "votes"}" %></span>
            <span class="tutorial-info-item">-</span>
            <span class="tutorial-info-item"><%= link_to "#{tutorial.comments.size} #{tutorial.comments.size == 1 ? "comment" : "comments"}", tutorial %></span>
          </p>
        
        </div>

        <div class="clear"></div>

      </div>

    </div>
    
  </div>
  
<% end %>
