<!DOCTYPE html>
<html>

  <head>
    <title>tuutorials.</title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= analytics_init if Rails.env.production? %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="header">
      
      <h1>
        <%= link_to "t.", :root %>
      </h1>

      <div id="login" >
      <% if user_signed_in? %>
        <%= link_to current_user.username, current_user %>
        -
        <%= link_to "Log out", :destroy_user_session, :method => :delete %>
      <% else %>
        <%= link_to "Log in", :user_session, :method => :post %>
        -
        <%= link_to "Register", :new_user_registration %>
      <% end %>
      </div>

      <div class="clear"></div>
    
    </div>

    <div id="content-wrapper">
      
      <div id="content">

        <%= yield %>

      </div>

    </div>
  
    <div id="footer">
      
      &copy Joe Forshaw <%= Time.new.year %> - <a href="https://twitter.com/JoeDForshaw">@JoeDForshaw</a> - <a href="https://joeforshaw.co.uk">joeforshaw.co.uk</a>
    
    </div>
    
  
  </body>

</html> 